html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

.module {
    cursor: url('images/'), auto;	
}

a {
    text-decoration: none;
    color: #000;
}

.pad {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-fluid {
    padding-left: 100px;
    padding-right: 100px;
}

.main-nav {
    width: 100%;
    background-color: #eee;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #000;

    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 1;
}

.link {
    color: black;
}

.link:hover {
    color: #000;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    display: inline-block;
    width: 180px;
}

.main {
    margin-top: 80px;
    z-index: 2;
}

span {
    position: relative;
    display: block;
    cursor: pointer;
}
  
span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #000;
}
  
span:before {
    left: -2.5px;
}

span:after {
    right: 2.5px;
    background: #000;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
span:hover:before {
    background: #000;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.hamburger {
    display: none;
    width: 40px;
    padding-bottom: 10px;
}

header nav ul {
    margin: 0px auto;
}

header nav ul li {
    display: inline-block;
    padding: 0 50px;
    font-family: 'Neue Machina', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
}

section {
    padding-top:30px;
    padding-bottom: 10px;
    background-color:#D6B7CC;
}

.info-box p {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 20px;
    padding: 12px 0 24px 0;
    border-bottom: solid 1px #000;
}

.info-box a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Neue Machina', sans-serif;
    font-size: 22px;
}

.carousel {
    width: 100%;
    padding-top: 0;
}

.carousel ul {
    padding: 0;
    text-align: center;
}

.hero {
    background: url(../images/project-images-4.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 99;
    font-size: 30px;
    color: #282828
}

.slick-arrow:hover {
    color: #eee;
}

.slick-next {
    left: auto;
    right: 20px;
}

.slick.dots {
    padding: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    top: 90%;
    background-color: rgba(0,0,0,0.3);
    height: 8px;
    width: 8px;
    margin: 0 12px;
    border-radius: 50%;
}

.slick-dots .slick-active {
    background-color: rgba(0,0,0,1);
}

.slick-dots button {
    display: none;
}

.is-hidden { 
    display: none;
}

h1 {
    border-bottom: solid 1px #000;
    font-family: 'Neue Machina', sans-serif;
    font-size: 80px;
}

h2 {
   font-family: 'Neue Machina', sans-serif;
    font-size: 50px;
    text-align: center;
}

h3 {
    font-family: 'Neue Machina', sans-serif;
    font-size: 30px;
    padding-top: 20px;
}

h4 {
    font-family: 'Neue Machina', sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

.cover-pic h1 {
    font-family: 'Neue Machina', sans-serif;
    font-size: 30px;
    color: #fff;
}

.project-boxes p {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 15px;
}

.project-boxes a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Neue Machina', sans-serif;
    font-size: 20px;
}

.project-img-1 {
    width:100%;
    overflow: auto;
    padding-top: 20px;
}

.project-img-2 {
    width:100%;
    overflow: auto;
    padding-top: 20px;
}

.project-img-3 {
    width:100%;
    overflow: auto;
    padding-top: 20px;
}

.project-img-4 {
    width:100%;
    overflow: auto;
    padding-top: 20px;
}

.project-img-5 {
    width:100%;
    overflow: auto;
    padding-bottom: 40px;
}

.project-info {
    padding-top: 50px
}

.quote {
    background-color: #D6B7CC;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-style: italic;
    font-size: 25px;
    text-align: center;
}

.line-1 {
    border-top: solid 1px #000;
    padding-bottom: 20px;
}

.quote p {
    padding-top: 20px;
}

.quotation-mark {
    padding-bottom: 15px;
    width: 120px;
}

.content-footer {
    border-top: solid 1px #000;
    padding-top:40px;
    padding-bottom: 30px;
    background-color: #eee;
    color: #000;
}

.contact-form {
    font-family: 'Neue Machina', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 7px;
    width: 100%;
    margin-bottom: 4px;
}

map {
    width: 100%;
    padding-top: 10px;
}

textarea {
    width: 100%;
    height: auto;
}

form [class^="col-"] {
    margin-bottom: 10px;
}

form input {
    width: 100%;
}

form button {
    margin-bottom: 20px;
}

.inner-footer h4 .contact-form {
    font-family: 'Neue Machina', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 7px;
    border-bottom: solid 1px #000;
}

.social ul {
    font-size: 30px;
    text-align: left;
}

.inner-footer .social ul li {
    display: inline-block;
    margin: 0;
    padding-right: 20px;
    text-align: left;
}

.social ul {
    padding: 0px;
    text-align: left;
}

.inner-footer input,
.inner-footer textarea {
    width: 100%;
    margin-bottom: 4px;
}

.btn {
    border: 1px solid black;
    background-color: #eee;
    color: black;
    border-radius: 0;
    font-family: 'Neue Machina', sans-serif;
    font-size: 16px;
}

.btn:hover {
    border: 1px solid black;
    background-color: #000;
    color: #fff;
}

.btn:active {
    background-color: #e24d4d;
    border: 1px solid #e24d4d;
}

::placeholder {
    font-family: 'Neue Machina', sans-serif;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 5px;
}

.sub-footer {
    padding-top:15px;
    padding-bottom: 15px;
    background-color: #eee;
    color: #000;
    text-align: center;
}

/* @media (min-width: 768px) {
    body {
        background-color: orange;
    }
}

@media (min-width: 992px) {
    body {
        background-color:red;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: blue;
    }
}

@media (min-width: 1200px) {
    body {
        background-color: yellow;
    }
}

@media (min-width: 1600px) {
    body {
        background-color: purple;
    }
} */

@media (max-width: 1600px) {
    h1 {
        font-size: 80px;
    }
    .info-box p {
        font-size: 20px;
    }
    .logo {
        width: 190px;
    }
    .logo-footer {
        width: 190px;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 80px;
    }
    .logo {
        width: 190px;
    }
    .logo-footer {
        width: 190px;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 45px;
    }
    .info-box p {
        font-size: 20px;
    }
    .container-fluid {
        padding-left: 80px;
        padding-right: 80px;
    }
    .quotation-mark {
        width: 100px;
    }
    .logo-footer {
        width: 190px;
    }
    .logo {
        width: 190px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 35px;
    }
    .info-box p {
        font-size: 20px;
    }
    .container-fluid {
        padding-left: 60px;
        padding-right: 60px;
    }
    .quotation-mark {
        width: 80px;
    }
    .logo-footer {
        width: 190px;
    }
    .logo {
        width: 190px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 45px;
        padding-top: 10px;
    }
    h2 {
        font-size: 32px;
    }
    .info-box {
        padding-bottom: 15px;
    }
    .info-box p {
        font-size: 18px;
        padding-bottom: 5px;
    }
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .quotation-mark {
        width: 60px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5px;
    }
    .quote p {
        font-size: 22px;
    }
    .logo {
        width: 190px;
    }
    .logo-footer {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        width: 190px;
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .location-footer {
        text-align: center;
        padding-bottom: 10px;
    }

    .inner-footer h4 {
        text-align: center;
    }

    .inner-footer {
        padding-bottom: 25px;
    }

    .social ul {
        padding: 0px;
        text-align: center;
    }

    .hamburger {
        display: block;
        font-size: 30px;
        height: auto;
        padding-top: 15px;
    }

    nav {
        background-color: #eee;
        position: fixed;
        top: 91px;
        left: -100%;
        width: 100%;
        height: 370px;
        border: solid black 1px;
        transition: transform  1s;
    }

    nav.open {
        transform: translateX(100%);
    }

    header nav ul li {
        display: block;
        margin-bottom: 40px;
        margin-top: 50px;
        font-size: 40px;
        padding-left: 0;
        margin-left: 0;
        text-align: center;
    }

}